* {
    margin: 0rem;
    padding: 0rem;
}

.clock-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 38);
}

.clock {
    height: 35rem;
    width: 35rem;
    position: relative;
    top: 0rem;
    left: 0rem;
    overflow: hidden;
}

.clock-image {
    height: 35rem;
    width: 35rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
}

.hour-hand {
    height: 35rem;
    width: 35rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
}

.minute-hand {
    height: 35rem;
    width: 35rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
}

.second-hand {
    height: 35rem;
    width: 35rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
}